
/* FOR SOME REASON IT BUGS ON LOAD! (every browser)*/

*{
	padding: 0;
	margin: 0;
}

html,body{
	background: #05E;
	height:100%; /* needed for container min-height */
}

a, a:hover{
	color: white;
}

#full{
	width: auto;
	padding: 10px;
	background: #999;
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/
	
	min-height:100%; /* real browsers */
}